
{% extends "base\base.html" %}        

{% block content %}
    {% for producto in productos %}
        <div class="col">
            <div class="card h-100 producto-card">
                <div class="producto-imagen-wrapper d-flex justify-content-center align-items-center">
                    <img src="{{ producto.imagen }}" class="img-fluid" alt="Imagen de {{ producto.nombre }}">
                </div>
                
                <div class="card-body text-center d-flex flex-column">
                    <h5 class="card-title producto-nombre mt-2 mb-1">{{ producto.nombre }}</h5>
                    
                    <p class="producto-precio fw-bold fs-4 text-primary">${{ producto.precio }}</p>
                    
                    <a href="#" class="btn btn-primary mt-auto boton-detalle">Ver Detalle</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}            
  